Modulos/Credito/Clientes/Biblioteca/Clases/Reglas/Service References/Proxy/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Despachador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDespachador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dapesa.Comun.Entidades" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dapesa.Criptografia.Reglas" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dapesa.Criptografia.Comun" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dapesa.Comun" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dapesa.AccesoDatos.Entidades" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dapesa.AccesoDatos.Comun" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDespachador_Validar_InputMessage">
    <wsdl:part name="parameters" element="tns:Validar" />
  </wsdl:message>
  <wsdl:message name="IDespachador_Validar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarResponse" />
  </wsdl:message>
  <wsdl:message name="IDespachador_Despachar_InputMessage">
    <wsdl:part name="parameters" element="tns:Despachar" />
  </wsdl:message>
  <wsdl:message name="IDespachador_Despachar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DespacharResponse" />
  </wsdl:message>
  <wsdl:portType name="IDespachador">
    <wsdl:operation name="Validar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDespachador/Validar" message="tns:IDespachador_Validar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDespachador/ValidarResponse" message="tns:IDespachador_Validar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Despachar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDespachador/Despachar" message="tns:IDespachador_Despachar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDespachador/DespacharResponse" message="tns:IDespachador_Despachar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDespachador" type="tns:IDespachador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validar">
      <soap:operation soapAction="http://tempuri.org/IDespachador/Validar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Despachar">
      <soap:operation soapAction="http://tempuri.org/IDespachador/Despachar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDespachador" type="tns:IDespachador">
    <wsp:PolicyReference URI="#NetTcpBinding_IDespachador_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Validar">
      <soap12:operation soapAction="http://tempuri.org/IDespachador/Validar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Despachar">
      <soap12:operation soapAction="http://tempuri.org/IDespachador/Despachar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Despachador">
    <wsdl:port name="BasicHttpBinding_IDespachador" binding="tns:BasicHttpBinding_IDespachador">
      <soap:address location="http://192.168.0.191:3004/HostServicioGestorCxC" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDespachador" binding="tns:NetTcpBinding_IDespachador">
      <soap12:address location="net.tcp://192.168.0.191:3005/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.191:3005/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/VESIS01.DAPESA.local</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>